@use "../../../quarks/src/mixins" as *;

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero__scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(40);
  background-color: transparent;
  color: var(--btn-text);

  .icon {
    width: rem(50);
    height: rem(50)
  }
}
